@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");

body {
  font-family: times, serif;
  font-size: 2em;
  font-weight: bold;
  background-color: #ced4be;
  color: rgb(82, 80, 93);
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
}

#header {
  font-size: ;
  padding: 0.25rem;
  font-size: 150%;
}

#haiku {
  font-family: "Homemade Apple", cursive;
  background-color: rgb(238, 232, 222);
  padding: 0.5rem 10rem;
  border-radius: 1rem;
  margin: 2rem;
  transition: all 1s;
}

#haiku:hover {
  background-color: rgb(232, 238, 243);
  transform: scale(1.1);
}

#line-1,
#line-2,
#line-3 {
  transition: all 1s;
}

#line-1:hover,
#line-2:hover,
#line-3:hover {
  font-size: 120%;
}

#upperTextDec {
  transform: rotate(180deg);
}
